*{
    margin: 0;
    padding: 0;
}
.wrap{
    overflow: hidden;
  }

.firstview{
 width: 100vw;
 height: 100vh;
background-image: url(images/background1.jpg);
background-position: center center;
background-size: cover;
align-items: flex-end;
justify-content: flex-end;
overflow: hidden;
}

nav{
    display: flex;
    position: absolute;
    top: 0;
    right:0;

}

@media (max-width: 450px) {
    nav {
      display: none;
    }
}

nav ul{
    overflow: hidden;
    margin: 0 50px;
}

nav li{
    list-style: none;
    float: left;
}

nav a{
    display: block;
    color:#ffffff;
    font-weight: normal;
    font-family:'Futura';
    font-size:26px;
    text-decoration: none;
    padding: 30px 15px 0;
    transition: 0.5s;

}

nav a:hover {
    color: #3D5CDB;
}

.title {
    text-align: center;
    margin: 114px 182px;
}


.title p{
    font-size: 45px;
    text-align: center;
    color: #fff;
    font-family: 'Futura';
    margin-top: 30px;
    font-style: italic;
    font-weight: lighter;
}

@media(max-width:450px) {
    .title p {
      font-size: 100%;
      text-align: center;
      margin-top: 20px;
      color: #fff;
      font-family: "Futura";
      font-style: italic;
      font-weight: lighter;
    }
  }

.fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}


.intro h2{
    color:#3d5cdb;
    font-family:'Futura';
    font-size:53.3333px;
    font-weight:700;
    padding:40px;
    text-align:center;
}

.intro p{
    font-size: 16px;
    font-family: 'Hiragino Kaku Gothic Pro';
    color: #000;
    padding: 0 50px ;
    margin: 0px 50px 20px;
}

.intro img{
    line-height: 32px;
}

.intro_detail{
    line-height: 32px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0 60px;

}


.intro_content_right{
    line-height: 32px;
    margin: 20px;
    width: 600px;
}

.intro_content_right p{
    font-size: 16px;
    font-family: 'Hiragino Kaku Gothic Pro';
    color: #000;
    margin: 0 auto 20px;
    width: 400px;
}


.intro_content_right a{
    display: block;
    margin: 30px 220px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3d5cdb;
    background: #3d5cdb;
    border-radius: 12px;
    color: #fff;
}

.intro_content_right a:hover {
    box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
}

.intro_detail2{
    line-height: 32px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0 60px; 
    padding-top: 40px;
    padding-bottom: 40px;

}


.intro_content_left{
    line-height: 32px;
    margin: 20px;
    width: 600px;
}

.intro_content_left p{
    font-size: 16px;
    font-family: 'Hiragino Kaku Gothic Pro';
    color: #000;
    padding: 0 50px ;
}

.intro_content_left a{
    display: block;
    margin: 30px 220px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ffbf00;
    background: #ffbf00;
    border-radius: 12px;
    color: #fff;
}

.intro_content_left a:hover {
    box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
}


.courses{
   background-color: rgba(186, 213, 245, 0.6);
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}  


@media (min-width: 768px) {
    .course-container {
      width: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
  @media (min-width: 1200px) {
    .course-container {
      width: 1170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }


.courses h2{
    color:#3d5cdb;
    font-family:'Futura';
    font-size:53.3333px;
    font-weight:700;
    padding:40px;
    text-align:center;
}

.course{
      display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course-container{
    width: 1170px;
    height: 740px;
    align-items:center;
    margin:0px 0px 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

}

.course_info{
    height: 280px;
    width: 180px;
    background-color:#ffffff;
    border-radius:8px;
    margin:20px 10px 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(106, 137, 152, 0.2);
}


.course_img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    align-items:center;
    display:flex;
    justify-content:center;
}

.course_img img {
    max-width: 100%;
    max-height: 100%;
}

.course h3{
    color:#183c61;
    font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif;
    font-size:14.6667px;
    font-weight:700;
    margin:10px;
    padding-top:20px;
    text-align:center;
    display: block;
}

.course a{
    border-radius:12px;
    font-family:'Meiryo';
    font-size:13px;
    font-weight:700;
    line-height:40px;
    margin: 8px 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    color: #fff;
}

.html{
    border: 1px solid #f16529;
    background: #f16529;
}

.css{
    border: 1px solid #29a9df;
    background: #29a9df;
}

.unity{
    border: 1px solid #000;
    background: #000;
}

.ruby{
    border: 1px solid #ff5252;
    background:  #ff5252; 
}

.js{
    border: 1px solid #fed700;
    background:  #fed700; 
}

.swift{
    border: 1px solid #fe7536;
    background:  #fe7536;
}

.go{
    border: 1px solid #73cedd;
    background:  #73cedd;  
}


.images{
margin: 0 0 50px;
padding: 0;
}

.images h2{
    color:#3d5cdb;
font-family:'Futura';
font-size:53.3333px;
font-weight:700;
padding:40px;
text-align:center;
}

.course_info a:hover {
    box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
}


.images {
    margin-bottom: 50px;
    margin: 30px auto;
    width: 80%;
  }
  
  .images img {
    height: auto;
    width: 253px;
    height: 169px;
  }
  
  .images-prev:before,
  .images-next:before {
    color: #000;
  }
  
  .images-dots {
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



.access{
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-bottom:40px;
}


.access h2{
    color:#3d5cdb;
    font-family:'Futura';
    font-size:53.3333px;
    font-weight:700;
    padding:040px;
    text-align:center;
}

@media(max-width: 450px) {
    .map {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 75%;
    }
}
  
    
.map iframe {
      position: absolute;
      top: 0;
      width: 600px;
      height: 400px;
}




footer p{
    color:#3d5cdb;
    font-family:'Futura';
    line-height:60px;
    text-align:center;
}